*{
    margin: 0;
    padding: 0;
}
html,body{
    // user-select: none;
    margin:0 auto;
}
body{
    font-family: "PingFangSC-Regular","PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    box-sizing: border-box;
    word-break: break-word;
    padding: .2rem;
    font-size: .12rem;
    color: #1a1a1a;
}
a{
    text-decoration: none;
    &:visited, &:hover, &:link, &:active {
      color:$primary-color;
    }
}
.container{
  max-width: $content-inner-width;
  margin: auto;
  position: relative;
}
.list-wrap, .content-wrap{
  min-height:80vh
}