// $primary-color:#2072FF;     // 主色调
$primary-color:#0033FF;     // 主色调
$title-color:#2F3A4D;       // 标题文字色调
$basic-color:#000;          // 正文背景色
// $header-height:55px;          // 头部高度
$content-inner-width:980px;  // 版心宽度